body{
    color: #334139;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: #9ebc93;
}

a:visited{
    color: #ffafc5;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.flex-container > div {
    margin: 10px;
}

#page-header{
    text-align: center;
}