a{
    color: #9ebc93;
}

a:visited{
    color: #ffafc5;
}

body{
    color: #334139;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr{
    color: #334139;
}

img{
    width: 300px;
    height: 300px;
}

.flex-container{
    column-count: 5;
    column-gap: 50px;
    column-width: 100px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding-bottom: 10px;
}

.container{
    width: 1200px;
    column-gap: 10px;
    display: inline-flex;
    justify-content: center;
}

.container > div{
    width: 400px;
    height: 475px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 4px;
    background-color: #c7d8c0;
}

#plant-picture{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding-left: 40px;
}

#plant-names{
    width: 300px;
    height: 75px;
    padding-left: 40px;
    text-align: center;
}