a{
    color: #9ebc93;
}

a:visited{
    color: #ffafc5;
}

body{
    color: #334139;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
}

button{
    background-color: #9ebc93;
    color: #334139;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border: 1px;
    border-style: solid;
    margin: 10px;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.container{
    width: 1200px;
    column-gap: 10px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;   
}

.card-view{
    width: 400px;
    height: 475px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 4px;
    background-color: #c7d8c0;
}

.flex-container{
    column-count: 5;
    column-gap: 50px;
    column-width: 100px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

#header-link{
    text-decoration: none;
}

#label1{
    text-align: center;
}

#plant-names{
    width: 300px;
    height: 75px;
    margin: 10px;
    padding-top: 10px;
    padding-left: 40px;
    text-align: center;
}

#plant-picture{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding-left: 40px;
}